version: "3.9"

services:
  db:
    image: postgres:16
    container_name: ecommerce_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ecommerce_net

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: ecommerce_backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "3001:3001" # API
      - "5556:5556" # Prisma Studio
    depends_on:
      - db
    networks:
      - ecommerce_net
    working_dir: /app
    volumes:
      - ./backend:/app:cached
      - /app/node_modules
    environment:
      NODE_ENV: development
    command: sh -c "npx prisma generate && npm run start:dev"

networks:
  ecommerce_net:

volumes:
  postgres_data:
